@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Favela";
  src: url("./lib/Demo_Fonts/Favela.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BlairITCMedium";
  src: url("./lib/BlairITCMedium/BlairITCMedium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("./lib/helvetica-neue-5/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "HelveticaNeueLight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden; /* prevents horizontal scrollbar pushing layout */
}

.favela {
  font-family: "Favela", sans-serif;
}

.blairITCMedium {
  font-family: "BlairITCMedium", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}
